bpy==3.4.0
certifi @ file:///croot/certifi_1671487769961/work/certifi
charset-normalizer==3.0.1
Cython==0.29.33
idna==3.4
numpy==1.24.1
PySide6==6.4.2
PySide6-Addons==6.4.2
PySide6-Essentials==6.4.2
requests==2.28.2
shiboken6==6.4.2
tqdm @ file:///opt/conda/conda-bld/tqdm_1664392687731/work
urllib3==1.26.14
zstandard==0.19.0
